# Common
python-dotenv
requests

# FastAPI (from Backend)
fastapi
uvicorn[standard]
playwright
langchain
langchain-community
langchain-upstage
faiss-cpu
langchain-cohere
langchain-experimental
langchain-groq
celery==5.3.6
kombu>=5.4.0,<5.5.0
redis==4.6.0
beautifulsoup4
python-multipart
sse-starlette
Jinja2
lxml
groq 